<p>Are you sure you want to delete <%= @event.type %>?</p>

</form>
<form action="/events/<%= @event.id %>" method="post">
<input type="hidden" name="_method" value="delete" />

<button type="submit" name="delete event" class="btn del-btn">Delete</button>
</form><br>

<a href="/events"><button type="button" class="btn">Go Back</button></a>
