<h1>Add an event</h1>

<form action="/events" method="post">

    <label for="sport">Sport:</label>
    <input type="text" name="sport"><br>

    <label for="type">Type:</label>
    <input type="text" name="type"><br>

    <label for="day">Date:</label>
    <input type="date" name="day"><br>

    <button type="submit" name="add event">Add</button>

</form>