<h2>Schedule</h2>

<table class="table">

  <tr>
    <th scope="col">Sport</th>
    <th scope="col">Event</th>
    <th scope="col">Date</th>
  </tr>

  <% @events.each do |event| %>
    <tr class="<%= event.date_has_passed?(event.day) ? "pdate" : "" %>">
      <th> <%= event.sport %> </th>
      <td> <%= event.type %> </td>
      <td> <%= event.format_date(event.day) %> </th>
    </tr>
  <% end %>

</table>