<p>Are you sure you want to delete <%= @nation.title %>?</p>

</form>
<form action="/nations/<%= @nation.id %>" method="post">
<input type="hidden" name="_method" value="delete" />

<button type="submit" class="btn del-btn">Delete</button>
</form><br>

<a href="/nations"><button type="button" class="btn">Go Back</button></a>