<h1>Add a nation</h1>

<form action="/nations" method="post">

    <label for="title">Title:</label>
    <input type="text" name="title"><br>

    <label for="code">Code:</label>
    <input type="text" name="code"><br>

    <button type="submit" name="add nation">Add</button>

</form>